<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(team.errors.count, "error") %> prohibited this monster from being saved:</h2>
	    <ul>
	      <% team.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	</div>
  <% end %>

  <div class="form-inputs">
    <%= f.text_field :name %>
  </div>

  <div class="form-actions">
    <%= f.submit :submit %>
  </div>
<% end %>
