<%= form_for(monster) do |f| %>
  <% if monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-8">
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  </div><br />

  <div class="form-group col-md-8">
    <%= f.text_field :power, placeholder: 'Power', class: 'form-control' %>
  </div><br />

  <div class="form-group col-md-8">
    <%= f.select :monster_type, [['Fire','fire'],['Water','water'],['Earth','earth'], ['Electric', 'electric'], ['Wind', 'wind']] %>
  </div><br />

  <div class="form-group col-md-8">
    <%= f.submit %>
  </div>
<% end %>
