<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>

<%= @teams_count %> teams remaining
<br />
<%= link_to button_tag('Create a team', class: 'btn btn-default'), new_team_path unless current_user.teams.count >= 3 %>
<br /><br />

<% if @teams.any? %>
  <% for team in @teams %>
    <div class="well">
      <p><%= team.name %></p>
      <% team.monsters.each do |monster| %>
        <li><%= monster.name %></li>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= @count %> monsters remaining
<br /><br />

<table class='pretty'>
  <thead>
    <tr>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "power", "Power" %></th>
      <th><%= sortable "monster_type", "Monster Type" %></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.power %></td>
        <td><%= monster.monster_type %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Monster', new_monster_path unless current_user.monsters.count >= 20 %> |
<%= link_to 'View Teams', teams_path %>

